{% extends "layouts/base.njk" %}

{% block content %}
  <article>
    <div class="[ post ] [ flow wrapper ]">
      <h1>{{ title }}</h1>
      <time datetime="{{ date | w3DateFilter }}">{{ date | dateFilter(site.lang) }}</time>
      {% if tags %}
        <ul class="tags-list" aria-label="Etiquetas">
          {% for tag in tags %}
            <li>
              <a href="/tag/{{ tag | slugify }}/">#{{ tag | replace(' ', '') | capitalize }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
      {{ content | safe }}
    </div>
  </article>
{% endblock %}
